<div id="<%= dom_id intern %>">
  <p>
    <strong>Name:</strong>
    <%= intern.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= intern.role %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= intern.email %>
  </p>

</div>
