<div class="card mb-3 d-flex align-items-center justify-content-center" style="max-width:30rem; margin:auto">
<h1>New intern</h1>

<%= render "form", intern: @intern %>

<br>

<div>
  <%= link_to "Back to interns", interns_path , class:"btn btn-outline-warning"%>
</div>
<br>
</div>
